@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

* {
    /* font-family: 'Dongle', sans-serif; */
    /* font-size: 1em; */
    line-height: 140%;
}

.buttons {
    /* background-color: white; */
    position: fixed;
    width: 100%;
    height: 60px;
    top: 16%;
    z-index: 4;
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: center;

}

.btn {

    background-color: blanchedalmond;
    border: none;
    border-radius: 30px;
    margin: 6px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.previous {
    background-color: blanchedalmond;
    border: none;
    border-radius: 30px;
    margin: 6px;
    height: 30px;
    width: 70px;
    cursor: pointer;
}

.previous:hover {
    transform: scale(1.4);
}

.next {
    background-color: blanchedalmond;
    border: none;
    border-radius: 30px;
    margin: 6px;
    height: 30px;
    width: 70px;
    cursor: pointer;
}

.next:hover {
    transform: scale(1.4);
}

.btn:hover {
    transform: scale(1.4);
}

.edge {
    position: relative;
}

.home_button {
    /* position: sticky; */
    position: absolute;
    width: 5%;
    top: 20%;
    left: 4%;
    bottom: 0%;
    cursor: pointer;
}

.home_button:hover {
    transform: scale(1.4);
}

.movieSearch {
    position: absolute;
    bottom: 30%;
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.movieSearch>p {
    margin: 0 0 0 0;
    left: 25%;
    min-width: 50px;
    font-family: 'Dongle', sans-serif;
    font-size: 2.3em;
}


.movie_search {
    min-height: 20px;
    max-height: 30px;
    min-width: 90px;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    justify-content: center;

}




.movieNameSearch {
    height: 150%;
    min-height: 17px;
    width: 30%;
    margin: 0 15px;
    border-radius: 15px;
    min-width: 200px;
}

.movieSearch>button {
    /* height: 110%; */
    width: 9%;
    font-family: 'Dongle', sans-serif;
    font-size: 2.3em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.15);
    cursor: pointer;
}

.mytitle {
    /* position: relative; */
    position: fixed;
    top: 0%;
    z-index: 2;
    /* min-height: 400; */
    width: 100%;
    padding-bottom: 10%;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)),
        url("https://img.freepik.com/premium-photo/seascape-in-the-early-morning-sunrise-over-the-sea_416511-5490.jpg");
    background-position: center;
    background-size: cover;
    /* https://mblogthumb-phinf.pstatic.net/MjAyMTAxMDJfMjcy/MDAxNjA5NTk1MTQwODY0.dFCvZpP1S4CRXu01I63vzy1sw7Up1lHGk7XQfEajqkYg.4Xbgpt9pX5V6CeDdbPbpa2rH-JkFIn5xCI0_lpJ-BpMg.JPEG.a_dwe/IMG_5259.JPG?type=w800 */
    color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 60px; */
    /* margin-top: 10px; */

}

.mytitle>p {
    position: absolute;
    font-family: 'Dongle', sans-serif;
    font-size: 3.5em;
    font-weight: lighter;
    bottom: 2%;
    /* margin-bottom: 5px; */
}


.all_content_container {
    margin-top: 20%;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto));
    grid-template-rows: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 3rem 4rem;

}

.movieDirectory {

    /* align-items: stretch; */
    z-index: 0;
    background-color: rgb(199, 231, 245);
    margin: 0px auto 20px auto;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    grid-template-rows: 2.3fr 0.3fr 1.0fr 0.3fr;
    grid-template-columns: repeat(1, minmax(100px, 383.695px));

    display: grid;
    /* max-width: 383.695px; */
    max-height: 800px;
    cursor: pointer;

}

.movieDirectory:hover {
    transform: scale(1.1);
}

.movieDirectory>img {
    margin: 2% auto 2% auto;
    width: 95%;
    height: 100%;
    object-fit: cover;
    /* 이미지 비율을 유지하며 컨테이너에 맞추어 표시 */
}

.movieDirectory>h2,
p {
    margin-left: 2%;
}


.overview {
    width: 95%;
    height: 100%;
    margin: 0px auto;
    overflow-y: scroll;
    border-style: solid;
    border-color: black;
}

.overview::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;

}

.overview::-webkit-scrollbar-track {
    background-color: gray;
    box-shadow: inset 0px 0px 5px white;
    border-radius: 10px;

}

.overview::-webkit-scrollbar {
    width: 7px;


}

.ask_repeat_search {
    z-index: 3;
    position: fixed;
    width: fit-content;
    font-family: 'Dongle', sans-serif;
    font-size: 5em;
    margin: 0px auto 0px auto;
    top: 40%;
    left: 15%;

}

/* ㅡㅡ보류ㅡㅡ */

/* .ball {
    z-index: 4;
    background-color: black;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    top: 40%;
    left: 40%;
    font-size: 30px;
  }
  body {
    position: absolute;
    width: 100vw;
    height: 100vh;
  }
  .animation-move {
    animation: minimize 0.5s;
  }
  .animation-end {
    animation: maximize 0.5s;
  }
  @keyframes minimize {
    from {
      background-color: black;
      width: 200px;
      height: 200px;
    }
    to {
      background-color: coral;
      width: 150px;
      height: 150px;
    }
  }
  @keyframes maximize {
    from {
      background-color: coral;
      width: 150px;
      height: 150px;
    }
    to {
      background-color: black;
      width: 200px;
      height: 200px;
    }
  }
   */